# These owners will be the default owners for everything in
# the repo. They will be requested for review when someone 
# opens a pull request.
*       @ashkan-deriv @review-deriv

# Automatically assign review-deriv to review all PRs
/.github/       @review-deriv
/src/          @review-deriv
/public/       @review-deriv
